h1, h2, h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-top:30px;
}

li {
    font-size: 15px;
    padding-left: 16px;
    list-style-position: inside;
}
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    opacity: 0.5;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.top-banner {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* can giua y */
    justify-content: center /* can giua x */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
    height: 70px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);    
}
.logo img {
    width: 200px;
    margin-right: 10px;
    align-items: center;
}
.nav-links {
    list-style: none; /* bo dau . */
    display: flex;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links li a {
text-decoration: none; /* bo gach chan o text */
color: #2c3e28;
font-size: 16px;
font-weight: 500;
}
.nav ul {
    list-style: none;
    display: flex;
}
.nav ul li {
    margin: 0 15px;
}
.nav ul li a {
    text-decoration: none;
    color: #2c3e28;
    font-size: 16px;
    font-weight: 500;
}
.auth-buttons .sign-in {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 16px;
}
.auth-buttons .free-trial {
text-decoration: none;
background-color: #00796B;
color: white;
padding: 8px 15px;
border-radius: 5px;
font-size: 16px;
font-weight: 700;
}
@import url('variables.css');
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    text-align: left;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    font-size: 20px;
}


* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
body { 
    background: #f8f9fa; 
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}
.header-fixed {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.header { 
    background: #007bff; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    font-size: 18px; 
    font-weight: bold;
}
.nav { 
    display: flex; 
    justify-content: center; 
    gap: 20px; padding: 15px; 
    background: white; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.nav a { 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}
.main-box {
    padding-top: 106px;
}

.container { 
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%; 
    margin: auto; 
    padding: 20px; 
    gap: 20px; 
}
.content { 
    flex: 3; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}


.box { 
    background: white; 
    padding: 15px; 
    width: 325px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: transform 0.3s; 
}
.box img { 
    width: 100%; 
    border-radius: 10px; 
}
.box:hover { 
    transform: scale(1.05); 
}


.last-box { 
    background: white; 
    padding: 15px; 
    width: 325px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: transform 0.3s; 
    grid-column: 2 / 3; 
    justify-self: center; 
    margin-left: 0px;
    }
.last-box img { 
    width: 100%; 
    border-radius: 10px; 
}
.last-box:hover { 
    transform: scale(1.05); 
}


.sidebar { 
    flex: 1; 
    background: white; 
    padding: 20px;
    width: 100%;
    height: 225px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    position: sticky; 
    top: 120px; 
    align-self: flex-start;
    text-align: left; 
    border: 1px solid black
}
.sidebar > ul  { 
    padding-top:15px;
    opacity: 0.7;
}
.sidebar > h3 {
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .content {
        flex: 2;
        grid-template-columns: repeat(2, 1fr);
    }
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .content {
      
        grid-template-columns: 1fr;
    }
    .last-box {
        grid-column: unset;
    }
    .header-fixed {
        display: none;
    }
    .main-box {
        padding-top: 17px;
    }
    .box {
        width: 100%;
    }
}